@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222222;
}

@font-face {
  font-family: "AppleSDGothicNeoB00";
  src: url('https://static.koreatech.in/assets/bcsdlab_img/font/AppleSDGothicNeoB.eot');
  src:local(※),
    url('https://static.koreatech.in/assets/bcsdlab_img/font/AppleSDGothicNeoB00.woff') format('woff'),
    url('https://static.koreatech.in/assets/bcsdlab_img/font/AppleSDGothicNeoB.eot?#iefix') format('embedded-opentype'),
    url('https://static.koreatech.in/assets/bcsdlab_img/font/AppleSDGothicNeoB.ttf') format('truetype'),
    url('https://static.koreatech.in/assets/bcsdlab_img/font/AppleSDGothicNeoB.svg#NanumGothic') format('svg');
}
